.page-wrapper {
    border: 1px solid red;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cPageBg {
    position: fixed;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

header {
    h1 {
        text-shadow: 0 1rem 2rem #2b2810d1;
    }
}

#idBtnImg {
    /* padding-top: 1rem; */
    width: 7rem;
}

#idCanvas {
    background: black;
    border-radius: 1.5rem;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#idKeyGuide {
    z-index: 1;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Caveat Brush';
    font-weight: 100;
    color: #ffffff3d;
    text-shadow: 0 0rem 3rem #00ddff;
    box-shadow: 0rem 0rem 1.5rem #00000016;
    border-radius: 1.5rem;
    padding: 0.5rem 0.5rem;
    
    
}

.cGameScreens {
    width: 720px;
    height: 480px;
}

.cStartScreen {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    box-shadow: 0rem 0rem 1.5rem #00000016;
}

.cLastScreen {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    border-radius: 1.5rem;
    box-shadow: 0rem 0rem 1.5rem #74727279;
}

.hidden {
    display: none;
}

.cOverlayBTNs {
    position: absolute;
    left: 90%;
    top: 15%;
    transform: translate(-50%, -50%);
    padding: 0.1rem 1rem;
    /* font-family: 'Cowboy Outlaw'; */
    font-family: 'Caveat Brush';
    font-size: 2.5rem;
    border: none;
    border-radius: 1.5rem;
    background: #ffffff00;
    color: #1c12079f;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0rem 0rem 2rem #000000c8;
}

#idRestartBtn {
    left: 50%;
    top: 80%;
    background: #dfbf8fbe;
}