.cPageBg {
    position: fixed;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

header {
    h1 {
        font-size: clamp(2.5rem, 5vw, 4rem);
        text-shadow: 0 1rem 2rem #2b2810d1;
        color: #ffffffc0;
        margin-bottom: 1rem;
    }
}

#idBtnImg {
    /* padding-top: 1rem; */
    width: 7rem;
}

#idCanvas {
    position: absolute;
    inset: 0;
    width: 720;
    height: 480;
    background: black;
    border-radius: 1.5rem;
    box-shadow: 0 0 1.5rem #000000aa;
    display: block;

    /* @media only screen and (max-width:720px) {
        width: 100%;
    } */

    /* @media only screen and (max-height:480px) {
        height: 100%;
    } */
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#idKeyGuide {
    z-index: 1;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Caveat Brush';
    font-weight: 100;
    color: #ffffff40;
    text-shadow: 0 0 3rem #00ddff;
    border-radius: 1.5rem;
    /* padding: 0.5rem 1rem; */
}

.cGameScreens {
    width: 720px;
    height: 480px;
}

.cStartScreen,
.cLastScreen {
    z-index: 1;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    box-shadow: 0 0 1.5rem #00000088;
    object-fit: cover;
}

.cLastScreen {
    width: 70%;
    height: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}

.cOverlayBTNs {
    position: absolute;
    left: 90%;
    top: 15%;
    transform: translate(-50%, -50%);
    padding: 0.1rem 1rem;
    font-family: 'Caveat Brush';
    font-size: 2.5rem;
    border: none;
    border-radius: 1.5rem;
    background: #ffffff00;
    color: #1c12079f;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0 0 2rem #000000c8;

    transition: transform 0.1s ease;

    &:hover {
        /* box-shadow: 0 0 2rem #000000c8; */
        transform: translate(-50%, -50%) scale(1.02);
    }
}

#idRestartBtn {
    left: 50%;
    top: 80%;
    background: #dfbf8fb4;
}