body {
    margin: 0;
    background-color: antiquewhite;
}

footer {
    position: fixed;
    bottom: 0;
}

img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

button {
    cursor: pointer;
    padding: 8px;
    margin-top: 4px;
}

section {
    display: flex;
    gap: 25px;
    padding: 12px;
    background-color: rgb(128, 0, 50);
    align-items: center;
    justify-content: center;
}

h1,h2 {
    text-align: center;
}

.sound_set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

.sound_img {
    opacity: 0.3;
    transition: opacity 0.5s ease;
}

.sound_img.active {
    opacity: 1;
}

.conductor {
    opacity: 1;
}

.stop_all {
    background-color: rgb(255, 64, 64);
}

.error_part {
    flex-direction: column;
    background-color: rgb(210, 229, 245);
    gap: 0px;
}

.audio_slider {
    flex-direction: column;
    background-color: teal;
    gap: 0px;
}

#volume {
    width: 200px;
}