
*,
*::before,
*::after {
    position: relative;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    /* border: 1px solid red; */
    font-size: 16px;
    font-family: "Cowboy Outlaw Textured";
    height: 100dvh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.page-wrapper {
    max-width: 1440px;
    width: 100%;
    padding: clamp(1rem, 4vw, 1.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
